body {
    font-family: 'Roboto', sans-serif; /* Fuente bonita, en este caso 'Roboto' */
    color: #333; /* Color de texto principal */
    background-color: #f9f9f9; /* Color de fondo de la página */
}

h1 {
    color: #000000; /* Color amarillo dorado para el título h1 */
    text-align: center; /* Centrar el texto */
    font-size: 2em; /* Tamaño de fuente más grande */
}

p {
    color: #666; /* Color de texto para párrafos */
    font-size: 1.2em; /* Tamaño de fuente para párrafos */
}

a {
    color: #007bff; /* Color de enlaces */
    text-decoration: none; /* Quitar subrayado de enlaces */
}

body {
    margin: 0;
    overflow: hidden;
  }
  
  .snowflakes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
  }
  
  .snowflake {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: snowfall linear infinite;
  }
  
  @keyframes snowfall {
    0% {
      transform: translateY(-100vh);
    }
    100% {
      transform: translateY(100vh);
    }
  }